
<div class="col-lg-cus5 col-md-6 col-6 product-loop product-loadding">
	<div class="product-inner loading-mask">
		<div class="proloop-image loading-mask__image">
			<div class="mask-line lazy-img"></div>
		</div>          
		<div class="proloop-detail loading-mask__detail">
			<div class="mask-line"> </div>
			<div class="mask-line"> </div>
			<div class="mask-line"> </div>
		</div>
	</div>
</div>



