<div class="product-loop product-skeleton">
  	<div class="product-inner" data-proid="1054815006" id="collection_loop_1">
  		<div class="proloop-image">
  			<div class="product--image">	
  			</div>
  		</div>
  		<div class="proloop-detail">
  			<p class="proloop--vendor">
          <svg class="badge-icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.99994 6.71503C6.86151 6.71503 7.55994 6.0166 7.55994 5.15503C7.55994 4.29347 6.86151 3.59503 5.99994 3.59503C5.13838 3.59503 4.43994 4.29347 4.43994 5.15503C4.43994 6.0166 5.13838 6.71503 5.99994 6.71503Z" stroke="currentColor" stroke-opacity="0.99"></path>
            <path d="M1.8101 4.24506C2.7951 -0.0849378 9.2101 -0.0799377 10.1901 4.25006C10.7651 6.79006 9.1851 8.94006 7.8001 10.2701C6.7951 11.2401 5.2051 11.2401 4.1951 10.2701C2.8151 8.94006 1.2351 6.78506 1.8101 4.24506Z" stroke="currentColor" stroke-opacity="0.99"></path>
          </svg>
  			<a title="Show vendor" rel="nofollow" href="/"></a>
  			</p>
  			<div class="proloop--title"><a rel="nofollow" href="/"></a></div>
  			<div class="list-info">
  				<div class="price-loop ">
  					<span class="info-title"></span>
  				<p class="proloop--price ">
  					<span class="price"></span>
  					<span class="person"></span>
  				</p>
  			</div>
  				
  			</div>
  			
  		</div>
  	</div>
  </div>