{%- capture resizeImg -%}{{settings.prod_resize_img}}{%- endcapture -%}

<div class="product-inner loading-mask">
	<div class="proloop-image loading-mask__image">
		<div class="mask-line lazy-img" {% if resizeImg != '' %} style="padding-bottom: {{resizeImg}}" {% endif %}></div>
	</div>          
	<div class="proloop-detail loading-mask__detail">
		<div class="mask-line"> </div>
		<div class="mask-line"> </div>
		<div class="mask-line"> </div>
	</div>
</div>


