<div class="productDetail-recently-viewed">
	<div class="container">
		<div class="productViewed-title text-center">
			{%- if settings.product_viewed_title == '' -%}
			<h2>Sản phẩm đã xem</h2>
			{%- else-%}
			<h2>{{settings.product_viewed_title}}</h2>
			{%- endif-%}	
		</div>
		<div class="productViewed-content">
			<div class="listProduct-viewed listProduct-row owlCarousel-dfex owl-carousel owlCarousel-style" id="listViewed"></div>
		</div>
	</div>
</div>



