<div id="quick-view-modal" class="modal fade modal-product-quickview">	
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content wrapper-quickview">
			
		</div>
	</div>
</div>
<div class="quickviewOverlay"></div>

{%-if settings.promotion_hrvapp_use and settings.promotion_hrvapp == 'appbuyxgety' -%}
{%-include 'modal-buyxgety-qv'-%}
{%-endif-%}

