<div class="AccountSidebar">
	<h3 class="AccountTitle titleSidebar">Tài khoản</h3>
	<div class="AccountContent">
		<div class="AccountList">
			<ul class="list-unstyled">			
				<li class="current"><a href="/account">Thông tin tài khoản</a></li>
				<li><a href="/account/addresses">Danh sách địa chỉ</a></li>
				<li class="last"><a href="/account/logout">Đăng xuất</a></li>
			</ul>
		</div>
	</div>
</div>