<div class="layout-pageNot" >
	<div class="container">
		<div class="content-pagenot text-center">
			<h1><span>404</span>Không tìm thấy trang</h1>
			<p class="subtext">Trang bạn đang tìm kiếm có thể đã bị xóa,
				chuyển đi, thay đổi link hoặc chưa bao giờ tồn tại.</p>
			<p class=""><a href="/" class="button">TRỞ VỀ TRANG CHỦ</a></p>
		</div>
	</div>
</div>
