<div class="layout-account">
	<div class="container">	
		<div class="wrapbox-content-account">
			<div id="customer-login">
				<div class="header-page clearfix"><h1>Phục hồi mật khẩu</h1></div>
				<div id="login" class="userbox customers_accountForm">
					<div class="accounttype">
						<h2 class="title"></h2>
					</div>
					{% form 'reset_customer_password' %}
					{{ form.errors | default_errors }}
					<div class="clearfix large_form">
						<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
						<input required type="password" value="" name="customer[password]" id="customer_password" placeholder="Mật khẩu" class="text" size="16" />      
					</div>
					<div class="clearfix large_form large_form-mrb">
						<label for="customer_password" class="icon-field"><i class="icon-login icon-shield"></i></label>
						<input required type="password" value="" name="customer[password_confirmation]" id="customer_password" placeholder="Xác nhận mật khẩu" class="text" size="16" />      
					</div>
					<div class="clearfix large_form sitebox-recaptcha " >
						This site is protected by reCAPTCHA and the Google
						<a href="https://policies.google.com/privacy" target="_blank" rel="noreferrer">Privacy Policy</a> 
						and <a href="https://policies.google.com/terms" target="_blank" rel="noreferrer">Terms of Service</a> apply.
					</div>	
					<div class="custommer_account_action">
						<div class="action_bottom button dark">
							<input class="btn" type="submit" value="Lưu" />
						</div>
					</div>
					{% endform %}
				</div>
			</div>
		</div>	
	</div>
</div>